* {
  font-family: Tahoma, sans-serif;
  background-color: #fff;
  outline: none;
}

html {position: static;}

body {margin: 2px;}

/* Блоки */

div.field {position: absolute; width: 100%;}

div.filter {margin-left: 5px;}

div.task {
  float: left;
  width: 70%;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  clear: both;
}

div.box {
  float: left;
  border: 1px solid grey;
  border-radius: 5px;
  background: #0084ff;
  width: 100%;
}

.clear {clear: both;}

/* Кнопки */

button {
  margin: 5px;
  float: left;
  background: white;
  border-radius: 4px;
}

button.new {
  float: left;
  width: 70%;
  height: 30px;
}

button:hover {background-color: #f0f0f0;}

button.btn_del:hover {background: red;}

button.btn_del:active {background: red;}

/* Выбор */

select {background: white;}

/* Таблица */

table {
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  float: left;
  width: 100%;
}

tr {width: 100%;}

td {background: #c9c9c9; padding-left: 3px;}

td.title {width: 210px;}


/* Форма */
form {
  background: #004dff;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
  position: static;
  float: left;
  width: 70%;
}

div.task form {
  float: left;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
  width: 100%;
}


label.title {
  background: #c9c9c9;
  padding-left: 3px;
  float: left;
  width: 220px;
}

input {
  float: left;
  width: 50%;
  padding: 0px;
}

input.save {
  background: white;
  border-radius: 4px;
  margin: 5px;
  width: 106px;
}

p {
  padding-top: 1px;
  background: #c9c9c9;
  display: inline-flex;
  margin: 0px;
  width: 100%;
}

/* Статус */

label.status {
  float: right;
  background: #0084ff;
  width: 220px;
  margin-top: 5px;
}

label.done {
  float: left;
  text-align: center;
  width: 220px;
  margin-top: 5px;
  background: #0084ff;
}
